.container{
    overflow: hidden;
}
.exapmle-area{
    flex-wrap: wrap;

}
.toggle-btn{
    display: none;
}
@media (width <= 991px){
    .toggle-btn{
        display: block;
        margin-right: 20px;
        font-size: 1.5rem;
    }
    .hover-links{
        display: none;
    }
    .exapmle-card{
        width: calc(50% - 30px);
    }
}
@media (width <= 767px){
    .header-section{
        flex-direction: column-reverse;

    }
    .header-left{
         width: 100%;
    }
    .primary-btn{
        width: 100%;
    }

}
@media (width <=479px){
    :root{
        --padding-inline-section: 5px;
    }
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.5rem;
    }
    p{
        font-size: 1rem;
    }
    .feature-card{
        min-width: 100%;
    }

    
}